.resources {
  display: inline-block;
  justify-content: left;
  align-items: left;
}

.resources li {
  text-align: left;
  margin: 0px 10px;
  padding: 0;
  color: #ffc400;
  border: #ffc400;

}

.resources ul {
  list-style-type: disc;
  background-color: #202020;
  border-radius: 20px;
  padding: 20px 20px 20px 30px;
  margin-inline: 20px;
  box-shadow: 0 0 10px #ffc400;
  display: inline-block;
}

.resources a {
  margin: 4px 10px;
  padding: 10px 10px;
  color: #ffffff;
}

.resources a:hover {
    color: #ffc400;
}