.resources {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resources li {
  margin: 0px 10px;
  padding: 0;
  color: #ffc400;
  font-size: 1.5em;
  border: #ffc400;
}

.resources a {
  margin: 4px 10px;
  padding: 10px 10px;
  color: #ffffff;
}

.resources a:hover {
    color: #ffc400;
}